.above-input {
    display: flex;
    margin:  0px 0px 10px 0px;
}

.input-label {
    margin: 0px auto 0px 0px;
    padding: 0px 4px 0px 0px;
}

.input-options {
    margin: 0px 0px 0px auto;
    padding: 0px 0px 0px 4px;
}

.input-label > span {
    font-size: 16px;
    font-weight: 500;
}

.input-options > span {
    color: #828282;
}