.menu-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.2);
    transition: .3s;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 483px;
    box-shadow: 0 -1px 30px 20px rgba(20, 20, 20, 0.2);
    background-color: #fff;

    display: flex;
    flex-direction: column;

    &__container {
        padding: 74px 30px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
    }

    &__closed {
        position: relative;
        width: 13px;
        height: 13px;
        overflow: hidden;
        background-color: transparent;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: calc(50% - 1);
            background-color: #212121;
            width: 100%;
            height: 1px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
    &__profile {
        margin: 35px 0px 24px 0px;
    }

    &__label-list {
        
    }

    &__exit {
        margin: auto 0px 0px 0px;
        padding: 15px 30px;
        background-color: #EB5757;
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        display: flex;
        align-items: center;
        cursor: pointer;

        .menu__icon {
            width: 24px;
            margin: 0px 8px 0px 0px;
        }
    }
}

.menu--active {
    
    .menu {
        transform: translateX(0);
    }
}

.menu--disable {
    
    .menu {
        transform: translateX(100%);
    }

    background-color: transparent;
}

.profile {
    display: flex;
    align-items: center;

    &__info {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin: 0px 19px 0px 0px;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__main {
    }

    &__name {
        font-weight: 700;
        font-size: 24px;
        color: #141414;
    }

    &__nickname {
        color: #4f4f4f;
        font-size: 16px;
        font-weight: 500;
    }

    &__setting {
        margin: 0px 0px 0px auto;
        background-color: transparent;
        width: 24px;
        height: 24px;
    }
}

.purse {
    padding: 20px 16px;
    background-color: #f2c94c;
    border-radius: 16px;
    color: #141414;

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: #141414;
    }

    &__hash {
        font-size: 16px;
        margin: 16px 0px;
        color: #000;
        overflow-y: auto;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background-color: transparent;
        }
    }

    &__count-bip {
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__share {
        margin: 0px 16px 0px 0px;
    }

    &__share,
    &__qr-code {
        width: 24px;
        height: 24px;
    }
}
