.interaction {
    display: flex;

    &__icon {
        height: 24px;

        svg {
            max-height: 100%;
            width: auto;
        }
    }

    &__count {
        margin: 0px 0px 0px 8px;
        font-size: 16px;
    }
}

.btn-interaction {
    display: flex;
    align-items: center;

    background-color: transparent;

    & + & {
        margin: 0px 0px 0px 12px;
    }
}