.button-w-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-w-icon__icon {
    margin: 0px 11px 0px 0px;
    width: 18px;
    height: 18px;
}

.button-w-icon__icon > img {
    height: 100%;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.button-primary {
}

.button-succes,
.button-danger,
.button-info {
    background-color: #e0e0e0;
    border-radius: 8px;
    min-width: 87px;
    min-height: 34px;
    padding: 4px 20px;
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.1s;
    color: #fff;
}

/* dummy */
.button-succes {
    background-color: #27ae60;
}

.button-danger {
    background-color: #eb5757;
}

.button-info {
    background-color: #2f80ed;
}

/* hover */
.button-succes:hover {
    background-color: #1f9752;
}

.button-danger:hover {
    background-color: #e14b4b;
}

.button-info:hover {
    background-color: #3276d0;
}

/* active */
.button-succes:active {
    background-color: #188546;
}

.button-danger:active {
    background-color: #c63939;
}

.button-info:active {
    background-color: #1f5eb4;
}

/* is disabled */
.button-succes--disabled,
.button-danger--disabled,
.button-info--disabled {
    cursor: default;
}

.button-succes--disabled:hover,
.button-succes--disabled {
    background-color: #4da773;
}

.button-danger--disabled:hover,
.button-danger--disabled {
    background-color: #e17575;
}

.button-info--disabled:hover,
.button-info--disabled {
    background-color: #629cea;
}

/* adaptive */
