.header {
  padding: 50px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: default;
  }

  &__icon {
    height: 72px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__name {
    margin: 0px 0px 0px 8px;
    font-size: 36px;
    color: #141414;
  }

  &__nav {
    button + button {
      margin: 0px 0px 0px 16px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__menu,
  &__sign-in {
    background-color: transparent;
  }

  &__sign-in {
    font-size: 16px;
    color: #27ae60;
    vertical-align: middle;
    transition: 0.1s;

    svg {
      transition: 0.1s;
      margin: 0px 0px 0px 8px;
      display: inline-block;
      vertical-align: middle;
      height: 18px;
      width: 18px;
      fill: #27ae60;
    }
  }

  &__menu {
    height: 24px;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.header__sign-in:hover {
  color: #1f9752;

  svg {
    fill: #1f9752;
  }
}