$header-button-font-size: 20px;
$header-button-line-height: 26px;
$sign-in-icon: url("../../assets/images/header_sign_in_icon.svg");

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .titleBlock {
    display: flex;
    align-items: center;

    &__title {
      font-size: 36px;
      padding: 0 0 0 15px;
      font-weight: 700;
    }
  }

  .buttonGroup {
    font-size: $header-button-font-size;
    line-height: $header-button-line-height;

    &__signInButton {
      font-size: $header-button-font-size;
      line-height: $header-button-line-height;
      color: #27ae60;
      background: #fff;
      padding: 0 10px;

      &:after {
        content: "";
        background: $sign-in-icon no-repeat center;
        padding: 0 10px;
      }
    }

    &__signUpButton {
      font-size: $header-button-font-size;
      line-height: $header-button-line-height;
      background: #27ae60;
      border-radius: 8px;
      padding: 10px;
      color: #fff;
    }

    &__menuIcon {
      padding: 0 10px;
    }
  }
}
